.active {
    color: #fff !important;
}

.inactive {
    color: #fff !important;
    background-color: inherit !important;
    width: 100%;
}
.side-menu{
    background-color: #fff !important;
}
.side-nav-link-ref{
    color: #fff !important;

}